
html, body {
    background: #1c3149;
    background: -moz-radial-gradient(center, ellipse cover,  #1c3149 0%, #0d121c 80%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#1c3149), color-stop(80%,#0d121c));
    background: -webkit-radial-gradient(center, ellipse cover,  #1c3149 0%,#0d121c 80%);
    background: -o-radial-gradient(center, ellipse cover,  #1c3149 0%,#0d121c 80%);
    background: -ms-radial-gradient(center, ellipse cover,  #1c3149 0%,#0d121c 80%);
    background: radial-gradient(ellipse at center,  #1c3149 0%,#0d121c 80%);
    overflow: hidden;
    margin:0;
}

/* GUI */

.cb {

    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
}

.cb .button {

    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 2px;
    text-align: center;
    line-height: 25px;
    font-size: 11px;
    display: block;
    opacity: 0.8;
    height: 25px;
    width: 80px;
    color: #fff;
}

.cb .button:hover {
    opacity: 1.0;
}

.cb .toggle {

    position: absolute;
    opacity: 0.0;
    z-index: 1;
    display: block;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.cb .toggle ~ .button {
    background: #000;
}

.cb .toggle:checked ~ .button {
    background: #2ecc71;
}
